:root {
    --white: #f5f5f5;
    --blue: rgb(40, 55, 130);
    --darkblue: rgb(15, 25, 35);
    --yellow: rgb(230, 175, 70);
}

html,body {
    background: var(--white);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Chucara';
    src: url('../src/fonts/Chucara-Regular.eot'); /* IE9 Compat Modes */
    src: url('../src/fonts/Chucara-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../src/fonts/Chucara-Regular.woff') format('woff'), /* Modern Browsers */
         url('../src/fonts/Chucara-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../src/fonts/Chucara-Regular.svg#6dc739d53dfa38f1fbc56f353d69d076') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
  }
  
@font-face {
    font-family: 'Chucara';
    src: url('../src/fonts/Chucara-Italic.eot'); /* IE9 Compat Modes */
    src: url('../src/fonts/Chucara-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../src/fonts/Chucara-Italic.woff') format('woff'), /* Modern Browsers */
         url('../src/fonts/Chucara-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../src/fonts/Chucara-Italic.svg#4a79ccc6c71b93867b7a10ba1c16dd7c') format('svg'); /* Legacy iOS */
         
    font-style:   italic;
    font-weight:  400;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,700;1,900&display=swap');
  

/* NAVEGADOR */

nav {
    width: 100%;
    background: var(--white);
    box-shadow: 0 5px 10px rgba(15, 25, 35, 0.2);
    height: 110px;
    padding-top: 100px;
    padding-bottom: 20px;
    transition:all 0.3s ease-in-out; /* Effect for switching from .fixed to static */
    overflow: hidden;
}

nav div.nav {
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 20pt;
    padding: 0 10%;
    transform: translateZ(0);
}

nav a:link, nav a:visited {
    color: var(--darkblue)
}

nav a:hover {
    color: var(--yellow);
}

nav a.logo {
    margin-top: -85px;
}

nav a.logo img {
    width: 130px;
}

nav form.search-bar {
    width: 70%;
    height: 40px;
    margin: 20px 10px 5px 10px;
    background: var(--yellow);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

nav form.search-bar input.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    height: 20px;
}

nav form.search-bar input.search-input[type="text"]:focus {
    outline: none;
}

nav form.search-bar button.search-button {
    float:right;
    border: none;
    background: none;
    font-size: 20pt;
    padding-right: 2%;
    text-align: right;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

nav a.upload {
    margin-top: 20px;
}

nav.fixed {
    position: sticky !important;
    z-index:1;
    padding-top:100px;
    padding-bottom: 10px;
    height: 60px;
    transition:all 0.3s ease-in-out; /* Effect for switching from .fixed to static */
    animation: animatebox 700ms;
}

nav.fixed a.logo img {
    width: 90px;
}

nav.fixed form.search-bar {
    margin: 5px 10px;
}

nav.fixed a.upload {
    margin-top: 0px;
}

/* TEXTOS */

h1, h2, h3 {
    font-family: 'Chucara','Times New Roman', Times, serif;
}

h1.results {
    text-align: center;
}

h2 {
    font-weight: 400;
}

p {
    margin: 0;
}

h1, h2, h3, p, label {
    color: var(--darkblue);
}

a, p, label, sub {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

sub {
    color: var(--blue);
    font-size: 11px;
}

a {
    text-decoration: none;
}

a:link, a:hover {
    transition: 0.3s;
}

/* WRAPPER */

div.wrapper {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
  }


/* THUMBNAILS */

div#posts-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-size: cover;
}

.post a {
    color: var(--white)
}

.post, .post a .post_tag {
    border-radius: 20px;
}

.post .post_tag {
    width: 70%;
    height: 100%;
    padding: 0 15%;
    background: rgba(15, 25, 35, 0.5);
    opacity: 0;
    transition: 0.3s;
}

.post .post_tag:hover {
    backdrop-filter: blur(5px);
    opacity: 1;
}

.post .post_tag div p {
    width: 200px;
    color: var(--white);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: capitalize;
}

/* VER MÁS */

div.see-more {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

div.see-more button {
    width: auto;
}

/* POP UP */

div.modal-content div.equis {
    width: 20px;
    height: 20px;
    line-height: 15pt;
    transition: 0.3s;
    float: right;
}

div.modal-content div.equis:hover {
    color: var(--darkblue);
}

div.modal-content div.modal-inner {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

div.modal-content img#imageModal {
    max-width: 50%;
    margin: 2%;
    height: 100%;
}

div.modal-content h1,
div.modal-content p {
    text-transform: capitalize;
    line-height: 24pt;
}

div.modal-content label,
div.modal-content p {
    font-size: 12pt;
}

div.modal-content label {
    font-weight: 700;
}

div.modal-content p {
    margin-bottom: 10px;
}

button#download-pdf {
    float: right;
}

/* FORMULARIO */

div.wrapper form.f-upload {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.wrapper div.wrap {
    height: 55vh;
    display: flex;
    justify-content: center;
}

/* DIV.UPLOAD */

div.upload-response {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.upload-response div {
    display: flex;
    justify-content: center;
}

div.upload {
    margin-right: 2%;
    width: 600px;
    height: 500px;
}

div.upload p.icon {
    font-size: 40px;
}

div.upload p {
    color: var(--blue)
}

/* TEXTO DEL FORMULARIO */

div.input_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

div.input_text div h1 {
    margin: 0;
}

div.input_text div p {
    color: red;
    font-size: 10pt;
}

div.input_text input {
    float: left;
    width: 95%;
}

div.input_text div.input {
    display: flex;
}

div.input_text div.input p {
    float: left;
    font-size: 15pt;
}

div.input_text select,
div.input_text input {
    background: var(--blue);
    color: var(--yellow);
    border: none;
    border-radius: 3px;
}

div.input_text input#guild,
div.input_text input#id_performance,
div.input_text input#id_year,
div.input_text input#id_costume,
div.input_text input#id_character,
div.input_text input#id_author {
    padding: 5px;
    margin-right: 3px;
}

div.input_text select#id_guild {
    width: 100%;
}

div.input_text div.input p {
    margin-right: 3px;
}

button#postsubmit {
    width: 100px;
    background: transparent;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 8pt;
    transition: 0.3s;
}

button#postsubmit:hover {
    border: 2px solid var(--blue);
    color: var(--blue);
}

button#postsubmit:active {
    background: var(--darkblue);
    color: var(--yellow);
}

/* CARGAR MÁS */

.not-visible {
    display: none;
}

.wrapper .see-more {
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
}

.wrapper .see-more div {
    font-family: 'Chucara';
}

.wrapper .see-more button {
    width: 100px;
    background: transparent;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 8pt;
    transition: 0.3s;
}

.wrapper .see-more button:hover {
    color: var(--blue);
    border: 2px solid var(--blue);
}

/* FORMULARIO DE COFRADÍAS */

form#form-society {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form#form-society div.input {
    width: 100%;
}

input#id_society,
input#id_foundation,
input#id_city,
input#id_association,
input#id_dance,
textarea#id_history {
    width: 90%;
}


/* FOOTER */

footer {
    background: var(--blue);
    width: 80%;
    padding: 2% 10% 3% 10%;
    position: inherit;
    bottom: 0;
}

footer div.footer_links {
    display: flex;
    width: 30%;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 20vh;
    padding: 20px;
}

footer div.footer_links div {
    border-bottom: 1px solid var(--yellow);
    padding: 15px 0 10px 0;
}

footer div.footer_links a {
    color: var(--white);
    font-size: 12pt;
    letter-spacing: -0.4px;
}

footer div.footer_links a:hover {
    color: var(--yellow);
}

footer div.copyright p {
    float: right;
    font-size: 11pt;
    color: var(--yellow);
}

/* RESPONSIVO */

@media (min-width: 0px) and (max-width: 755px) {
    div.wrapper {
      width: 504px;
    }
    div.upload {
        width: 200px;
        height: 300px;
      }

    div.wrapper div.wrap {
        height: 85vh;
    }

    form.f-upload {
        flex-direction: column;
    }

    div.input_text {
        width: 400px;
        height: 500px;
    }

    nav form.search-bar button.search-button {
        width: 10%;
    }
  }
  
  @media (min-width: 756px) and (max-width: 1007px) {
    div.wrapper {
        width: 756px;
    }
    div.upload {
        width: 300px;
        height: 350px;
      }
    
    div.wrapper div.wrap {
        height: 85vh;
    }

    form.f-upload {
        flex-direction: column;
    }

    div.input_text {
        width: 400px;
        height: 500px;
    }

    nav form.search-bar button.search-button {
        width: 10%;
    }
  }
  
  @media (min-width: 1008px) and (max-width: 1259px) {
    div.wrapper {
      width: 1008px;
    }
    div.upload {
        width: 400px;
        height: 400px;
      }
    
    div.wrapper div.wrap {
        height: 90vh;
    }

    form.f-upload {
        flex-direction: column;
    }

    div.input_text {
        width: 400px;
        height: 500px;
    }

    nav form.search-bar button.search-button {
        width: 6%;
    }

  }
  
  @media (min-width: 1260px) and (max-width: 1511px) {
    div.wrapper {
      width: 1260px;
    }
    div.upload {
        width: 550px;
        height: 450px;
      }
    
    form.f-upload div.input_text input {
        width: 90%
    }

    form.f-upload {
        height: 450px;
    }

    div.input_text {
        height: 450px;
    }
    nav form.search-bar button.search-button {
        width: 6%;
    }
  }
  
  @media (min-width: 1512px) and (max-width: 1763px) {
    div.wrapper {
      width: 1512px;
    }
    div.upload {
        width: 600px;
        height: 500px;
      }
    
    form.f-upload {
        height: 500px;
    }

    div.input_text {
        height: 500px;
    }

    nav form.search-bar button.search-button {
        width: 3%;
    }
  }
  
  @media (min-width: 1764px) and (max-width: 4500px) {
    div.wrapper {
      width: 1764px;
    }

    div.upload {
        width: 600px;
        height: 500px;
      }

    div.modal-content {
        max-width: 1000px;
      }
    
    div.modal-content div.modal-inner div {
        width: 500px;
    }

    div.modal-content img#imageModal {
        max-height: 700px;
        margin: 2%;
        height: 100%;
    }

    form.f-upload {
        height: 500px;
    }

    div.input_text {
        height: 500px;
    }
    
    nav form.search-bar button.search-button {
        width: 3%;
    }
    
  }

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    display: none;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-container {
    padding-left: 30%;
    padding-right: 30%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    top:5px;
    display: inline-block;
    color: var(--darkblue);
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    visibility: hidden;
    max-width: 300px;
    min-width: 220px;
    background-color: var(--white);
    color: var(--blue);
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--blue);
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#upload-form {
    border-collapse:separate;
    border-spacing:0 15px;
}


/*CUERPO DE POSTS*/

.wrapper .text-box {
    width: 75%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 80vh;
}

.wrapper .text-box img { 
    width: 30%;
    height: 30%;
    margin: 15px;
}

.wrapper .text-box .text-post {
    width: 60%;
    margin: 15px;
}

.wrapper .text-box .text-post p {
    padding: 10px 0;
}
