{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archivo La Tirana</title>
     <link rel="stylesheet" href="{% static 'stylesheet.css'%}">
     <link rel="stylesheet" href="{% static 'dropzone.css'%}">
     <script src="{% static 'dropzone.js'%}"></script>
     <script src="https://kit.fontawesome.com/ee5b7451fa.js" crossorigin="anonymous"></script>
      
</head>
<body>
    <nav>
        <a href="home" class="logo">
            <img src="{% static 'logo.png'%}">
        </a>
        <a href="upload" class="upload">
            <i class="fas fa-upload"></i>
        </a>
    </nav>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <ul class="footer_links">
        <li>
            <a href="info">Información</a>
        </li>
        <li>
            <a></a>
        </li>
        <li>
            <a></a>
        </li>
    </ul>
</footer>
</html>