{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memorias Tiranas</title>
     <link rel="stylesheet" href="{% static 'stylesheet.css'%}">
     <link rel="stylesheet" href="{% static 'dropzone.css'%}">
     <script src="{% static 'dropzone.js'%}"></script>
     <script src="https://kit.fontawesome.com/ee5b7451fa.js" crossorigin="anonymous"></script>
     <script src="{% static 'float-panel.js'%}"></script>
     <script src="{% static 'modal.js'%}"></script>
     <link rel="stylesheet" href="{% static 'modal.css'%}">
     <script src="{% static 'jspdf.min.js'%}"></script>
     <script src="{% static 'jquery-3.6.0.min.js'%}"></script>
     <script src="{% static 'html2canvas.min.js'%}"></script>
     <script src="{% static 'main.js'%}"></script>
     <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>

</head>
<body>
    <nav class="float-panel" data-top="0" data-scroll="100">
        <div class="nav">
            <a href="/" class="logo">
                <img src="{% static 'logo_azul.svg'%}">
            </a>

            <form id="searchForm" method="post" action="/search_results/" class="search-bar">
                {% csrf_token %}
                <input id="buscar" class="search-input" type="text" name="buscar" required>
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>

            <a href="/upload" class="upload">
                <i class="fas fa-upload"></i>
            </a>
        </div>
        <div class="alert-container">
            <div class="alert alert-danger" role="alert">
               La búsqueda no puede contener sólo espacios en blanco. 
            </div>
        </div>
    </nav>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <div class="footer_links">
            <div><a href="/proyecto">Proyecto</a></div>
            <div><a href="/tirana">La Fiesta de La Tirana</a></div>
            <div><a href="/guilds">Sociedades de Baile</a></div>
            <div><a href="/info">Información</a></div>
            <div><a href="/corrections">Correcciones</a></div>
    </div>
    <div class="copyright">
        <p>Página con fines educacionales</p>
    </div>
</footer>
</html>