{% extends 'base.html' %}

{% block content %}

<h1> Cofradías </h1>
<p></p>

<div id="entry-box">
    <!--Acá aparecerán los posts-->
</div>

<div class="wrap">
    <form method="post" id="form-society">
        {% csrf_token %}
            <div class="input">
                {{ form.society }}
                <i class="fas fa-question-circle tooltip">
                    <span class="tooltiptext">Nombre de la Sociedad de Baile</span>
                </i>
            </div>
            <div class="input">
                {{ form.foundation }}
                <i class="fas fa-question-circle tooltip">
                    <span class="tooltiptext">El año en que se fundó la sociedad.</span>
                </i>
            </div>
            <div class="input">
                {{ form.city }}
                <i class="fas fa-question-circle tooltip">
                    <span class="tooltiptext">Ciudad de fundación.</span>
                </i>
            </div>
            <div class="input">
                {{ form.association }}                  
                <i class="fas fa-question-circle tooltip">
                    <span class="tooltiptext">Asociación a la que pertenece la sociedad.</span>
                </i>
            </div>
            <div class="input">
                {{ form.dance }}
                <i class="fas fa-question-circle tooltip">
                    <span class="tooltiptext">Baile que realiza la sociedad.</span>
                </i>
            </div>
            <div class="input">
                {{ form.history }}
                <i class="fas fa-question-circle tooltip">
                    <span class="tooltiptext">Breve historia de la Sociedad de Baile.</span>
                </i>
            </div>
        <button type="submit" id="postsubmit">Subir</button>
    </form>
</div>

{% endblock %}