{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="text-box">
    <img src="{% static 'logo.svg'%}">
    <div class="text-post">
        <h1>La Fiesta de la Tirana</h1>
        <h3>Una celebración sincrética</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt turpis vel odio dapibus hendrerit. 
            Maecenas vehicula ultrices est eget ornare. Pellentesque a vestibulum metus, nec feugiat eros. Nulla convallis 
            mi enim, tincidunt blandit ligula sollicitudin et. Sed porta et enim non molestie. Donec ex ex, convallis a 
            turpis quis, luctus fringilla felis. Cras nec luctus ante. Duis dui arcu, auctor et augue eu, viverra placerat 
            augue. Integer hendrerit ornare blandit. Curabitur et posuere erat, eleifend pellentesque nisl. Proin molestie 
            nunc ac auctor posuere. Suspendisse commodo, arcu non placerat viverra, ligula quam fermentum diam, at blandit 
            orci sem nec tellus. Etiam vitae dui ut elit vehicula volutpat ac vitae elit.
            </p>
    </div>
    <p class="text-post">
            Curabitur nisl magna, luctus ut enim euismod, pellentesque placerat enim. Sed risus lectus, egestas eu vestibulum 
            ac, aliquet in magna. Nam sed libero porttitor dui rutrum posuere id eu mi. Fusce tristique massa vel 
            tristique condimentum. Sed blandit dolor arcu, sed porta ipsum dictum in. Aenean tincidunt, massa in vestibulum 
            laoreet, nisl massa placerat nibh, et ultricies elit tellus a magna. Donec commodo, ante eleifend mattis vehicula, 
            enim est ornare sem, vitae congue dui dolor et arcu. Sed euismod tortor vel suscipit ultrices. Integer malesuada at 
            mi sit amet maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce 
            facilisis ante at metus convallis, vitae accumsan libero hendrerit. In dignissim pretium turpis, a lobortis dolor 
            rutrum vel.
    </p>
    <img src="{% static 'logo.svg'%}">
    <img src="{% static 'logo.svg'%}">
    <p class="text-post">     
        Nam sit amet vestibulum neque. Nunc sagittis est quis eros suscipit, eu tincidunt justo venenatis. Quisque iaculis mollis 
        quam ac luctus. Nullam et aliquam quam. Duis suscipit sem est, ac lacinia odio interdum in. Fusce lobortis mi et tortor 
        vulputate volutpat. Pellentesque et finibus arcu. Nullam venenatis ut elit in imperdiet.
    </p>
</div>

{% endblock %}