{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="text-box">
    <img class="img b3" src="{% static 'img/fiesta-la-tirana.jpg'%}">
    <div class="text-post b2">
        <h1>La Fiesta de la Tirana</h1>

        <p>
            La Fiesta de La Tirana es una fiesta religioso-popular que se realiza todos los años en el mes de Julio, para celebrar a la
            Virgen del Carmen. Esta celebración se lleva a cabo en el pueblo de La Tirana, que se encuentra a 75 kilómetros de Iquique hacia
            el interior, en la Pampa del Tamarugal.
        </p>
        <p>
            La fiesta tiene sus inicios pre-colombinos en el <i>taqui</i>, una celebración indígena que incluía baile, canto y feria, que fue
            introducido en las procesiones coloniales como es el <i>Corpus Christ</i> o Semana Santa. En la transición de ambas culturas nacieron
            bailes que representaban a un estrato social colonial, como son los morenos, como bailes que representaban lo religioso, como las
            tan conocidas Diabladas.
        </p>
        <p>
            En el siglo XIX, tras la Guerra del Pacífico donde el territorio pasó a ser de Chile, y el terremoto de devastó al ahora Norte 
            Grande de Chile, la población pasó por una transición de chilenización, donde el Estado y la Iglesia Católica buscaban re-evangelizar
            a los pobladores de origen extranjero, y así transmitir los valores, costumbres y tradiciones definidas como chilenas desde la ciudad
            de Santiago. Entre ello, se definió a la Virgen del Carmen como la Patrona del Ejército Militar de Chile, y se cambió la fecha de 
            celebración inicial del 6 de Agosto de la Virgen de Copacabana, al 16 de Julio.
        </p>
        <p>
            A inicios del siglo XX la fiesta tiene un boom generado por la gran actividad salitrera del sector, que trasladó a los trabajadores
            del Sur de Chile a la Pampa, así generando una gran cantidad de bailes, y el traslado de un baile considerado el primer y único baile
            de origen chileno, el baile Chino de Andacollo. Este baile, gracias a su origen, no quedaría en menos, al ser escogido como parte de
            la chilenización para sacar a la Virgen del Carmen durante su procesión el 16 de Julio.
        </p>
        <p>
            En el año 1965, las sociedades de baile, que se consolidaron de manera institucional, crean la Federación de Bailes Religiosos de la 
            Fiesta de La Tirana, que congrega a todos los bailes que participan de esta celebración, y desde entonces, junto al Obispado de Iquique,
            son quienes se encargan de organizar la celebración cada año.
        </p>
        <p>
            A día de hoy, la Fiesta de La Tirana congrega a doscientos nueve bailes religiosos y a más de doscientos mil peregrinos en fe, fiesta y feria.
            Que luego de tener que celebrar vía remota, a causa de la crisis sanitaria, el 2022, la fiesta vuelve a tener su celebración de manera presencial.
        </p>
    </div>
</div>

{% endblock %}