{% extends 'base.html' %}

{% block content %}

{% for post in post_list %}
<div class="post" style="background-image: url('media/{{ post.image }}')">
    
    <a href="javascript:void(0)" class="photo-modal" data-guild="{{ post.guild }}" data-image="{{ post.image }}"
        data-performance="{{ post.performance }}" data-year="{{ post.year }}" data-costume="{{ post.costume }}"
        onclick="displayModal(this);">
        <div class="post_tag">
            <div>
                <p>{{ post.guild }}</p>
            </div>
        </div>
    </a>
</div>
{% endfor %}

<div id="photoModal" class="modal">
    <div class="modal-content">
        <div class="equis">
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-inner">
            <img id="imageModal" src=""/>
            <div>
                <h1 id="guildModal"></h1>
                <label>Baile: </label><p id="performanceModal"></p>
                <label>Año de la fotografía: </label><p id="yearModal"></p>
                <label>Traje según ritmo: </label><p id="costumeModal"></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}