{% extends 'base.html' %}

{% block content %}

<div id="posts-box"></div>

<div id="photoModal" class="modal">
    <div class="modal-content">
        <div id="ignorePDF" class="equis ignorePDF">
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <input type="hidden" id="metadataJson" value=""/>
        <div class="modal-inner">
            <img id="imageModal" src="" onload="getEXIF(this);"/>
            <div>
                <h1 id="guildModal"></h1>
                <label>Baile: </label><p id="performanceModal"></p>
                <label>Año: </label><p id="yearModal"></p>
                <label>Traje: </label><p id="costumeModal"></p>
                <label>Personaje: </label><p id="characterModal"></p>
                <label>Autor: </label><p id="authorModal"></p>
                <div id="metadataModal" data-metadata="">
                    <label>EXIF Meta</label></br>
                    <label>Modelo de Cámara: </label><p id="model"></p>
                    <label>Apertura de Lente: </label><p id="apertureValue"></p>
                    <label>Distancia Focal: </label><p id="focalLength"></p>
                    <label>Tiempo de Exposición: </label><p id="exposureTime"></p>
                    <label>ISO: </label><p id="iso"></p>
                </div>
            </div>
        </div>
        <button id="download-pdf" class="ignorePDF">Descargar</button>
    </div>
</div>

<div class="see-more">
    <div id="spinner-box" class="not-visible">Cargando...</div>
    <div id="no-more-box" class="not-visible">No existen más registros</div>
    <button id="load-more">Cargar Más</button>
</div>

{% endblock %}