{% extends 'base.html' %}

{% block content %}
<div class="text-box">
    <div class="text-post">
        <h1>Tipologías de Archivo</h1>
        <p>
            Para entender más a fondo las tipologías utilizadas en el formulario de subida de fotografías, 
            está esta sección de la plataforma que explicará cada una de éstas.
        </p>
        <h2>Sociedad de Baile</h2>
        <p>
            Las Sociedades de bailes son las agrupaciones a las que pertenece un único baile, cuales tienen 
            su propio nombre y fecha de fundación.
        </p>
        <h2>Performance</h2>
        <p>
            La performance, o baile, corresponde al conjunto cultural que diferencia a un baile de otro. Sus trajes
            mudanzas, ritmos y personajes, hacen que se pueda diferenciar un baile de otro. Entre los bailes que
            se podrían llegar a reconocer están:
            <ul>
                <li>Chunchos</li>
                <li>Cuyacas</li>
                <li>Gitanos</li>
                <li>Chinos</li>
                <li>Diablada Morenada</li>
                <li>Diablada</li>
                <li>Sambos Caporales</li>
                <li>Morenada</li>
                <li>Morenos</li>
                <li>Indios</li>
                <li>Árabes</li>
            </ul>
        </p>
        <h2>Año</h2>
        <p></p>
        <h2>Vestimenta</h2>
        <p></p>
        <h2>Personajes</h2>
        <p></p>
        <h2>Autor</h2>
        <p></p>
    </div>
</div>
{% endblock %}