{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <form method="post" enctype="multipart/form-data" class="f-upload">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <div class="upload">
            <div class="drop-zone">
                <input class="drop-zone__input" type="file" name="image" accept="image/*" required="" id="id_image">
                <div class="drop-zone__prompt">
                    <p class="icon"><i class="fas fa-upload"></i></p>
                    <p class="here">Arrastrar imagen aquí</p>
                    <sub>
                        Las fotografías sólo pueden ser de bailes que hayan participado de la Fiesta de La Tirana, en el contexto de la fiesta.
                    </sub>
                </div>
            </div>
        </div>
        <div class="input_text">
            <div>
                <h1>Campos a rellenar</h1>
                <p>∗ Campos obligatorios</p>
            </div>
            <div class="input">
                <div>
                    <input list="id_guild" placeholder="Sociedad de Baile" name="guild"/>
                    <datalist id="id_guild">
                        {% for item in guild_lists %}
                        <option>{{item.0}}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <i class="fas fa-question-circle tooltip"><span class="tooltiptext">La sociedad de baile a la que pertenecen los bailarines en la fotografía.</span></i>
            </div>
            <div class="input">
                {{ form.performance }}
                <p>∗</p>
                <i class="fas fa-question-circle tooltip">
                    <span class="tooltiptext">El baile que se ve en la fotografía.</span>
                </i>
            </div>
                <div class="input">
                    {{ form.year }}
                    <p>∗</p>
                    <i class="fas fa-question-circle tooltip">
                        <span class="tooltiptext">El año en que fue sacada la fotografía.</span>
                    </i>
                </div>
                <div class="input">
                    {{ form.costume }}
                    <p>∗</p>
                    <i class="fas fa-question-circle tooltip">
                        <span class="tooltiptext">El traje utilizado según la instancia en la fiesta.</span>
                    </i>
                </div>
                <div class="input">
                    {{ form.character }}
                    <p>∗</p>                    
                    <i class="fas fa-question-circle tooltip">
                        <span class="tooltiptext">Personajes que se pueden ver en la fotografía, pueden ser más de uno.</span>
                    </i>
                </div>
                <div class="input">
                    {{ form.author }}
                    <i class="fas fa-question-circle tooltip">
                        <span class="tooltiptext">La persona que tomó la fotografía.</span>
                    </i>
                </div>

            <button type="submit" id="postsubmit">Subir</button>
            
        </div>
    </form>
</div>

{% if img_url %}
<div class="upload-response">
    <h2>¡Imagen subida exitosamente!</h2> 
    <div>
        <img style="width: 300px;" src="{{ img_url }}">
        {{ img_obj.tags }}
    </div>
</div>
{% endif %}


{% endblock %}